body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: rgb(0, 217, 255);
    color: #000000;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #9aeeff;
    padding: 1em;
}

nav a {
    color: #000000;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
    font-family: Arial, Helvetica, sans-serif;
}

Main {
    color: #000000;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 3%;
}






























































































































																																																																																																																																																																																																																					